{% load static %}
<header id="header" class="media">
    <div class="row">
        <div class="col-md-2">
            <div class="pull-left h-logo">
                <img src="{% static 'img/practicas-edu.jpg' %}" width="100" alt="" class="m-r-10">
                <a href="{% url 'home' %}" class="hidden-xs">
                    SIPEP
                </a>

                <div class="menu-collapse" data-ma-action="sidebar-open" data-ma-target="main-menu">
                    <div class="mc-wrap">
                        <div class="mcw-line top palette-White bg"></div>
                        <div class="mcw-line center palette-White bg"></div>
                        <div class="mcw-line bottom palette-White bg"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="media-body h-search">
                <form class="p-relative">
                    <div id="buscadorWrapper">
                        <input id="buscador" type="text" class="hs-input" placeholder="Buscar alumnos, proyectos, etc.">
                        <i class="zmdi zmdi-search hs-reset" data-ma-action="search-clear"></i>
                        <div class="buscador-opciones" style="display: none">
                            <ul id="resultados-busqueda">
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <style>
            .bootstrap-select > .btn-default:before{
                background: none;
            }
            .btn-group > .btn:first-child{
                height: 50px;
                background-color: rgba(255, 255, 255, 0.25)
            }
            .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
                background-color: rgba(255, 255, 255, 0.25)
            }
            .bootstrap-select.btn-group .dropdown-toggle .filter-option{
                color: white;
                padding: 8px;
            }
        </style>
        <div class="col-md-2">
            <form action="">
                <select style="height: 50px; color: white" id="periodo__select"  class="selectpicker">
                    {% for item in periodos %}
                        {% if item.activo %}
                            <option style="height: 50px" value="{{ item.id }}" selected>{{ item.ano }} - {{ item.semestre }}</option>
                        {% else %}
                            <option style="height: 50px"  value="{{ item.id }}">{{ item.ano }} - {{ item.semestre }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </form>
        </div>
        <div class="col md-2">
            <ul class="pull-right h-menu">
                <li class="hm-search-trigger">
                    <a href="" data-ma-action="search-open">
                        <i class="hm-icon zmdi zmdi-search"></i>
                    </a>
                </li>

                {% comment %}
                <li class="dropdown hidden-xs hidden-sm h-apps">
                    <a data-toggle="dropdown" href="">
                        <i class="hm-icon zmdi zmdi-apps"></i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="">
                                <i class="palette-Red-400 bg zmdi zmdi-calendar"></i>
                                <small>Calendar</small>
                            </a>
                        </li>

                        <li>
                            <a href="">
                                <i class="palette-Green-400 bg zmdi zmdi-file-text"></i>
                                <small>Files</small>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="palette-Light-Blue bg zmdi zmdi-email"></i>
                                <small>Mail</small>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="palette-Orange-400 bg zmdi zmdi-trending-up"></i>
                                <small>Analytics</small>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="palette-Purple-300 bg zmdi zmdi-view-headline"></i>
                                <small>News</small>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="palette-Blue-Grey bg zmdi zmdi-image"></i>
                                <small>Gallery</small>
                            </a>
                        </li>
                    </ul>
                </li>
                {% endcomment %}
                <li class="dropdown hidden-xs">
                    <a data-toggle="dropdown" href=""><i class="hm-icon zmdi zmdi-more-vert"></i></a>
                    <ul class="dropdown-menu dm-icon pull-right">
                        <li class="hidden-xs">
                            <a data-action="fullscreen" href=""><i class="zmdi zmdi-fullscreen"></i> Toggle Fullscreen</a>
                        </li>
{#                        <li>#}
{#                            <a data-action="clear-localstorage" href=""><i class="zmdi zmdi-delete"></i> Clear Local Storage</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href=""><i class="zmdi zmdi-face"></i> Privacy Settings</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href=""><i class="zmdi zmdi-settings"></i> Other Settings</a>#}
{#                        </li>#}
                    </ul>
                </li>
                <li class="hm-alerts" data-user-alert="sua-messages" data-ma-action="sidebar-open" data-ma-target="user-alerts">
                    <a href=""><i class="hm-icon zmdi zmdi-notifications"></i></a>
                </li>
                <li class="dropdown hm-profile">
                    <a data-toggle="dropdown" href="">
                        <img src="{{ request.user.get_image }}" alt="">
                    </a>

                    <ul class="dropdown-menu pull-right dm-icon">
                        <li>
                            <a href="{% url 'usuarios:user-change-picture' %}"><i class="zmdi zmdi-account"></i> Cambiar imagen de perfil</a>
                        </li>
                        <li>
                            <a href="{% url 'usuarios:user-change-password' %}"><i class="zmdi zmdi-settings"></i> Cambiar contraseña</a>
                        </li>
                        <li>
                            <a href="{% url 'usuarios:logout' %}"><i class="zmdi zmdi-time-restore"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>






</header>