{% extends 'base_template.html' %}
{% load staticfiles %}
{% block content %}
    <div class="card">
        <div class="card-header">
        </div>

        <div class="card-body card-padding">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-2">
                    <form role="form" class="form-horizontal" method="post" novalidate enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="non-field-errors">
                            {% if form.non_field_errors %}
                                <small class="help-block">{{ form.non_field_errors }}</small>
                            {% endif %}
                        </div>

                        <p class="f-500 c-black m-b-20">Cambiar imagen de perfil</p>

                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-preview thumbnail" data-trigger="fileinput">
                                {% if object.imagen %}
                                    <img src="{{ object.imagen.url }}" alt="" width="200">
                                {% endif %}
                            </div>
                            <div>
                                <span class="btn btn-info btn-file">
                                    <span class="fileinput-new">Seleccionar imagen</span>
                                    <span class="fileinput-exists">Cambiar</span>
                                    <input type="file" name="imagen">
                                </span>
                                <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remover</a>
                            </div>
                        </div>
                        <div class="form-group fg-float">
                            <div class="col-sm-6">
                                <a href="{% url 'home' %}" class="btn btn-default btn-lg m-t-10 pull-left">Cancelar</a>
                            </div>
                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-primary btn-lg m-t-10 pull-right">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block js %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
    <script>
        $(function () {
            $('.fileinput').fileinput();
        });

    </script>
{% endblock %}