{% extends 'base_template.html' %}

{% block content %}
    <div class="card">
{#        <div class="card-header">#}
{#            <h2>Basic Example <small>Individual form controls automatically receive some global styling. All textual 'input', 'textarea', and 'select' elements with .form-control are set to width: 100%; by default. Wrap labels and controls in .form-group for optimum spacing.#}
{#            </small></h2>#}
{#        </div>#}

        <div class="card-body card-padding">

            {% if proyecto.archivo %}
                <div class="alert alert-warning">
                    <p>
                        Este proyecto esta archivado
                        {% if perms.escuela.delete_proyecto %}
                            <a href="{% url 'archivo:proyectos-archivar' proyecto.pk %}" class="btn btn-danger btn-sm m-l-10">Desarchivar</a>
                        {% endif %}
                    </p>
                </div>
            {% endif %}

            <ul class="tab-nav tn-justified tn-icon" role="tablist">
                <li role="presentation" class="{% ifequal 'informacion' pestana %}active{% endifequal %}">
                    <a class="col-sx-4" href="#tab-1" aria-controls="tab-1" role="tab" data-toggle="tab">
                        Información del proyecto
                    </a>
                </li>
                <li role="presentation" class="{% ifequal 'mensajes' pestana %}active{% endifequal %}">
                    <a class="col-xs-4" href="#tab-2" aria-controls="tab-2" role="tab" data-toggle="tab">
                        Mensajes del proyecto
                    </a>
                </li>
            </ul>

            <div class="tab-content p-20">
                <div role="tabpanel" class="tab-pane animated fadeIn in {% ifequal 'informacion' pestana %}active{% endifequal %}" id="tab-1">
                    <div class="row">
                        {# Informacion Proyectos #}
                        <div class="pmb-block col-sm-12 col-md-6">
                            <div class="pmbb-header">
                                <h2><i class="zmdi zmdi-case m-r-5"></i> Proyecto</h2>
                            </div>
                            <div class="pmbb-body p-l-30">
                                <div class="pmbb-view">
                                    <dl class="dl-horizontal">
                                        <dt>Nombre</dt>
                                        <dd>{{ proyecto.nombre }}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Modalidad</dt>
                                        <dd>{{ proyecto.modalidad }}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Institución</dt>
                                        <dd><a href="{% url 'escuela:instituciones-detail' proyecto.institucion.pk %}">{{ proyecto.institucion.nombre }}</a></dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Espacio</dt>
                                        <dd>{{ proyecto.espacio }}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Sector</dt>
                                        <dd>{{ proyecto.institucion.sector }}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Tipo</dt>
                                        <dd>{{ proyecto.tipo }}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Beneficiarios</dt>
                                        <dd>{{ proyecto.beneficiarios }}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Número de beneficiarios</dt>
                                        <dd>{{ proyecto.beneficiarios_cantidad }}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Actividades</dt>
                                        <dd>{{ proyecto.actividades }}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Alumnos</dt>
                                        <dd>
                                            {% if proyecto.alumnos.count %}
                                                <ul style="padding-left: 15px">
                                                    {% for alumno in proyecto.alumnos.all %}
                                                        <li><a href="{% url 'escuela:alumno-detail' alumno.pk %}">{{ alumno.get_name_display }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            {% if perms.escuela.change_proyecto %}
                                <div class="row">
                                    <div class="col-xs-12">
                                        <a href="{% url 'escuela:proyectos-update' proyecto.pk %}" class="btn btn-warning pull-right">Editar proyecto</a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div><!-- .row -->


                </div>

                <div role="tabpanel" class="tab-pane animated fadeIn {% ifequal 'mensajes' pestana %}active{% endifequal %}" id="tab-2">

                </div>
            </div>

            {% if not proyecto.archivo and perms.escuela.delete_proyecto %}
                <div class="text-center row m-t-15">
                    <div class="col-xs-12">
                        <a href="{% url 'archivo:proyectos-archivar' proyecto.pk %}" class="btn btn-danger btn-lg">
                            Archivar proyecto
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}