{% extends 'base_template.html' %}
{% load static %}
{% block content %}
    <div class="card card-main">
        {% if perms.escuela.add_proyecto %}
            <a href="{% url 'escuela:proyectos-create' %}" class="btn btn-float btn-danger m-btn waves-effect waves-circle waves-float"><i class="zmdi zmdi-plus"></i></a>
        {% endif %}
        <div class="list-group">
            <div class="card-body table-responsive">
                <div class="form-filtros p-b-0 p-t-20 p-r-20 p-l-20">
                    <form class="row" role="form" id="formFiltros">
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                {{ filtrosForm.buscar }}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group fg-line">
                                {{ filtrosForm.institucion }}
                            </div>
                        </div>
                    </form>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Alumnos</th>
                            <th>Institución</th>
                            <th>Modalidad</th>
                            <th>Tipo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for proyecto in object_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ proyecto.nombre }}</td>
                                <td>{{ proyecto.alumnos.all |join:", " }}</td>
                                <td>{{ proyecto.institucion }}</td>
                                <td>{{ proyecto.modalidad }}</td>
                                <td>{{ proyecto.tipo }}</td>
                                <td>
                                    <a href="{% url 'escuela:proyectos-detail' proyecto.pk %}" class="btn btn-info btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-eye"></i></a>
                                    {% if perms.escuela.change_proyecto %}
                                        <a href="{% url 'escuela:proyectos-update' proyecto.pk %}" class="btn btn-warning btn-icon waves-effect waves-circle waves-float"><i class="zmdi zmdi-edit"></i></a>
                                    {% endif %}
                                    {% if perms.escuela.delete_proyecto %}
                                        <button data-delete-url="{% url 'escuela:proyectos-delete' proyecto.pk %}" class="btn btn-danger btn-icon waves-effect waves-circle waves-float sa-warning"><i class="zmdi zmdi-delete"></i></button>
                                    {% endif %}
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="7" class="center-align">No se encontraron proyectos</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <form action="" id="eliminarProyecto" method="post">
        {% csrf_token %}
    </form>
{% endblock %}

{% block js %}
    <script src="{% static 'template/vendors/bower_components/Waves/dist/waves.min.js' %}"></script>
    <script src="{% static 'template/vendors/bootstrap-growl/bootstrap-growl.min.js' %}"></script>
    <script src="{% static 'template/vendors/bootgrid/jquery.bootgrid.updated.min.js' %}"></script>
    <!-- Data Table -->
    <script>
        $('.sa-warning').click(function(){
            var urlDelete = $(this).attr("data-delete-url");
            swal({
                title: "Estás seguro?",
                text: "Al eliminar un proyecto también se eliminará toda la infromación relacionada.",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#f44336",
                confirmButtonText: "Si, eliminar!",
                closeOnConfirm: false
            }, function(){
                $("form#eliminarProyecto").attr('action', urlDelete).submit();
{#                swal("Exito!", "Se eliminó el alumno.", "success");#}
            });

        });

        $(function () {
            $('form#formFiltros select, form#formFiltros input').on('change', function () {
                $("#formFiltros").submit();
            });
        });
    </script>
{% endblock %}